@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
  padding: 0;
  box-sizing: border-box;
}
:root {

  padding: 0;
  box-sizing: border-box;
  /* fonts */
  --font-roboto: Roboto;
  --font-poppins: Poppins;
  --font-fira-code: "Fira Code";
--font-inter: Inter;
  --font-inherit: inherit;  

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-7xl: 26px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-base: 16px;  
--font-size-xs: 12px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-whitesmoke: #dfdfdf;
  --color-gainsboro: #d6d6d6;
  --color-gray-400: #757575;
  --color-gray-100: #1e1e1e;
  --color-royalblue: #1877f2;
  --head-and-foot: #000;
  --color-mediumseagreen: #34a853;
  --color-seagreen-100: #2a8b44;
  --color-seagreen-200: #26793c;
  --color-darkolivegreen-100: #1c5e2d;
  --color-darkolivegreen-200: #174b26;
  --color-darkgray-100: rgba(171, 178, 191, 0.08);
  --color-darkgray: rgba(171, 178, 191, 0.4);  
  --background: #282c33;  
  --gray: #abb2bf;
  --primary: #98c379;
  --primary-hover: #98c3791c;
  --white: #fff;
  --background1: #1e1e1e;
  --primary1: #34a853;
  --black-hover: #111111;
  --black-pressed: #3F3F3F;
  --blue-hover: #1A5DB5;
  --blue-pressed: #0C3A76;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-6xl: 25px;
  --gap-8xl: 27px;
  --gap-61xl: 80px;
  --gap-5xs: 8px;
  --gap-6xs: 7px;
  --gap-9xs: 4px;
  --gap-24xl: 43px;
  --gap-8xs: 5px;
  --gap-xl: 20px;
  --gap-sm: 14px;
  --gap-xs: 12px;
  --gap-base: 16px;
  --gap-4xs: 9px;
  --gap-7xs: 6px;
  --gap-mid: 17px;
  --gap-5xl: 24px;
  --gap-12xl: 31px;
  --gap-11xl: 30px;
  --gap-41xl: 60px;

  /* Paddings */
  --padding-2xs: 11px;
  --padding-3xs: 10px;
  --padding-36xl: 55px;
  --padding-140xl: 159px;
  --padding-33xl: 52px;
  --padding-137xl: 156px;
  --padding-35xl: 54px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;  
--padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-13xl: 32px;
  --padding-15xl: 34px;
--padding-sm: 14px;
  --padding-base: 16px;
--padding-95xl: 114px;
  --padding-6xs: 7px;
  --padding-28xl: 47px;  
  --padding-mini: 15px;
  --padding-34xl: 53px;  
--padding-182xl: 201px;
  --padding-50xl: 69px;  

  /* Border radiuses */
  --br-6xl: 25px;
  --br-3xs: 10px;
  --br-xl: 20px;
}