.who_we_are_group {
    align-self: stretch;
    margin-top: 5.5em;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px var(--padding-182xl);
    gap: var(--gap-6xl);
  }
  .prefab {
    position: relative;
    background-color: var(--background1);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }