.shape_icon,
.shape_icon1 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 8.1px);
  left: calc(50% - 79.5px);
  width: 14.9px;
  height: 16px;
  z-index: 0;
}
.shape_icon1 {
  top: calc(50% - 1.8px);
  left: calc(50% - 93.4px);
  width: 24.1px;
  height: 13.8px;
  z-index: 1;
}
.shape_icon2,
.shape_icon3,
.shape_icon4 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 12.6px);
  left: calc(50% - 95px);
  width: 6.8px;
  height: 15.3px;
  z-index: 2;
}
.shape_icon3,
.shape_icon4 {
  top: calc(50% - 22px);
  left: calc(50% - 93.4px);
  width: 24.2px;
  height: 13.8px;
  z-index: 3;
}
.shape_icon4 {
  top: calc(50% - 21.5px);
  left: calc(50% - 95px);
  width: 31px;
  height: 34px;
  z-index: 4;
}
.logo_googleg_48dp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
}
.continue_with_google,
.google_logo,
.logo_googleg_48dp {
  align-self: stretch;
  flex: 1;
  align-items: center;
}
.google_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs) 0 0 var(--padding-36xl);
}
.continue_with_google {
  position: relative;
  font-weight: 500;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: horizontal;
  margin-left: -145px;
}
.continue_with_google_centre {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.17);
  width: 345px;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-roboto);
}

.continue_with_google_centre:hover {
  background-color: var(--color-whitesmoke);
}

.continue_with_google_centre:active {
  background-color: var(--color-gainsboro);
}