.titles1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 600;
}
.titles {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 5;
}
.lorem_ipsum_dolor5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 25px;
}
.lorem_ipsum_dolor_sit_amet_co {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 4;
  font-size: var(--font-size-base);
  color: var(--gray);
}
.titles2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.lorem_ipsum_dolor_sit_amet_co1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  font-size: var(--font-size-base);
  color: var(--gray);
}
.titles4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.lorem_ipsum_dolor_sit_amet_co2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
  font-size: var(--font-size-base);
  color: var(--gray);
}
.our_values {
  width: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-12xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--white);
  font-family: var(--font-fira-code);
}
