.property_1default_child {
  position: relative;
  width: unset;
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  height: 201px;
  object-fit: cover;
  flex-shrink: 0;
}
.project {
  position: relative;
}
.techs {
  flex: 1;
  position: relative;
}
.project_parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-5xs);
}
.project_name1 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.button_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.lorem_ipsum_dolor {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--gray);
}
.button_wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-95xl);
}
.project_name_group {
  align-self: stretch;
  border-top: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  
}
.property_1default {
  border: 1px solid var(--gray);
  display: flex;
  width: 332.6px;
  flex: unset;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0px;
  gap: var(--gap-mid);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-fira-code);
}
.property_1default:hover{
  background-color: #e6e6e627;
}