.discord_icon {
  position: relative;
  width: 32px;
  height: 32px;
}
.instance_child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: var(--white);
}
.rectangle_wrapper {
  position: relative;
  width: 25px;
  height: 25px;
}
.discord_parent {
  width: 67px;
  height: 39px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-12xs) 0px;
  box-sizing: border-box;
  gap: var(--gap-6xs);
}
.facebook_icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.facebook_parent {
  width: 74px;
  height: 39px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xs) var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-6xs);
}
.linkedin_icon1 {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.linkedin_parent {
  width: 76px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-6xs);
}
.instagram_icon1 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.instagram_parent {
  width: 71px;
  height: 37px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.github_parent {
  width: 71px;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) var(--padding-10xs);
  box-sizing: border-box;
  gap: var(--gap-6xs);
}
.email_group {
  width: 76px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-6xs);
}
.telegram_parent {
  width: 71px;
  height: 37px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-12xs) var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.frame_div {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
}
.socials1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  align-self: stretch;
}
