.services_parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: var(--gap-6xl);
  justify-content: space-around;
  padding: 0px var(--padding-mini);
}
.what_we_offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-28xl) 0px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
