.product_parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: var(--gap-6xl);
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  padding: var(--padding-3xs) var(--padding-mini);
}
.what_we_have {
  width: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-28xl) 0px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}

@media screen and (max-width: 420px) {
  .product_parent {
    flex-direction: row;
    gap: var(--gap-41xl);
    align-items: flex-start;
    justify-content: center;
  }
}
