.frame_icon {
  max-width: 43%;
  overflow: hidden;
  max-height: 43%;
  object-fit: cover;
  align-self: center;
  align-items: center;
}
.loginlinks {
  align-self: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 0px 73px 0px;
}
.content,
.frame,
.loginlinks,
.loginpage {
  overflow: hidden;
  display:inline-flex;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}
.content {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-6xl) 0 0 var(--br-6xl);
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs);
  gap: 11px;
}
.frame{
  height: 100%;
  width: 100%;
  
}
.frame {
  flex: 1;
}
.loginpage {
  background-color: #3b3b3b;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.loginlinks{
  gap: 20px
}
.input_element{
  width: 70px;
}

.login_div{
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 100%) {
  .frame,
  .loginlinks {
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
}
